@page "/GlobalCounter-demo"
@using DemoWebAssembly2.Client.Components
@rendermode InteractiveWebAssembly

<h3>GlobalCounterDemo</h3>

<GlobalCounterDemoComponent Step="3"></GlobalCounterDemoComponent>

@code {

}
