@page "/GlobalCounter-demo-again"
@using DemoWebAssembly2.Client.Components
@rendermode InteractiveWebAssembly
<h3>GlobalCounterDemoAgain</h3>

<GlobalCounterDemoComponent Step="7"></GlobalCounterDemoComponent>

@code {

}
